@tailwind base;
@tailwind components;
@tailwind utilities;

body { touch-action: manipulation; -webkit-tap-highlight-color: transparent; }
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #1a1a1a; }
::-webkit-scrollbar-thumb { background: rgb(255, 140, 0); border-radius: 10px; }